.flowchart {

  .image {
    text-align: center;

    img {
      max-width: 100px;
    }
  }

  .option {
    width: 50%;
    text-align: center;
    margin: 0 auto;

    button,
    p {
      display: inline-block;
    }

    p {
      padding-right: .5em;
      vertical-align: middle;
    }
  }

  .option,
  .option.disable:hover {
    .fa-circle-thin {
      display: block;
    }

    .fa-check-circle {
      display: none;
    }
  }

  .option:hover,
  .selected,
  .selected.disable:hover {
    .fa-circle-thin {
      display: none;
    }

    .fa-check-circle {
      display: block;
    }
  }

  .flow-question {
    display: none;
    margin-bottom: 1.2em;

    header p {
      font-weight: 300;
      margin-top: 1em;
      text-align: center;
    }

  }

  .reset {
    text-align: center;
    margin-bottom: 1.2em;
  }

  .responses {
    margin-bottom: 1em;
  }

  .response {
    border: 0;
    font-size: 2em;
    margin-bottom: 1em;
  }

}
